@model StackOverflowClone.ViewModels.EditUserDetailsViewModel
@{
    ViewBag.Title = "ChangeProfile";
}

<div class="row">
    <div class="col-sm-12" style="padding:2%">
        <h1>Change Profile</h1>
        <form novalidate="novalidate" action="/account/changeprofile" method="post"
              class="needs-validation">
            @Html.AntiForgeryToken()
            <div class="form-row mt-2">
                <div class="form-group col-sm-12">
                    <label for="txtName">Name</label>
                    <input type="text" class="form-control" id="txtName" 
                           placeholder="Enter Name" name="Name" required="required" 
                           pattern="^[a-zA-Z ]*$" autofocus="autofocus" value="@Model.Name"/>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter name [alphabets only]
                    </div>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="form-group col-sm-6 mt-2">
                    <label for="txtEmail">Email</label>
                    @Html.HiddenFor(temp => temp.Email)
                    <span>@Model.Email</span>
                </div>

                <div class="form-group col-sm-6">
                    <label for="txtMobile">Mobile</label>
                    <input type="text" class="form-control" id="txtMobile"
                           placeholder="Mobile" name="Mobile"
                           required="required" pattern="^[789]\d{9}$"
                           value="@Model.Mobile" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Invalid mobile Number
                    </div>
                </div>
            </div>

            @Html.ValidationSummary()
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
</div>